.img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

header {
  background-color: rgb(95, 32, 95);
  color: white;
  font-family: sans-serif;
}

.notes {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.button {
  border-radius: 5px;
  background-color: rgb(95, 32, 95);
  color: white;
  height: 25px;
}

.input {
  width: 100%;
  height: 30px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.title {
  margin-bottom: 0;
}

.align {
  align-items: baseline;
  display: flex;
}

#entries-link {
  color: inherit;
  padding-left: 1.5rem;
  text-decoration: none;
  font-size: 1.25rem;
}

.align-new {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.text-size {
  font-size: 2rem;
}

.edit-icon {
  float: right;
  color: rgb(95, 32, 95);
  text-decoration: none;
}

.delete-button {
  border: none;
  color: rgb(238, 88, 88);
  text-decoration: underline rgb(238, 88, 88);
  font-size: 18px;
}

.delete-button:hover {
  cursor: pointer;
  color: red;
}

.modal-on {
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.modal-box {
  font-family: Mukta, sans-serif;
  background-color: #f0f0f0;
  color: black;
  border-radius: 5px;
  text-align: center;
  margin: 0 20px;
  padding-top: 20px;
  box-shadow: 0 3px 5px black;
}

.cancel-button {
  background-color: #b6b6b6;
  font-size: 18px;
  color: black;
  width: 120px;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.confirm-button {
  background-color: #dc2626;
  font-size: 18px;
  letter-spacing: 2;
  color: white;
  width: 120px;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
